/*
    Color palette: 
    #A0D1CB bg
    #18B076 grass
    #FFFFFF white
    #132A13 dark text
    #31572C hunter green
*/

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Montserrat:wght@400;700&display=swap');
body {
    background-image: url("https://wallpapercave.com/wp/wp4383745.jpg");
    background-repeat: no-repeat;
    color: #132A13;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
}

header {
    text-align: center;
    width: 80%;
}

h1 {
    font-family: 'Balsamiq Sans', cursive;
}

main {
    width: 80%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 30px;
}

nav {
    background-color: white;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    height: 50px;
}

table, th, td {
    border: 1px solid #31572C;
}

th, td {
    padding: 10px;
}

table {
    text-align: center;
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th {
    font-weight: 700;
}

button {
    font-family: 'Montserrat', sans-serif;
    box-shadow: none;
    padding: 10px 20px;
    background-color: #18B076;
    border: none;
    color: white;
}

button:hover {
    cursor: pointer;
}

nav a {
    color: #132A13;
    display: inline-block;
}

nav a:hover {
    color: #18B076;
}

nav a.active {
    color: #18B076;
}

nav li {
    flex-grow: 1;
    margin: 0;
}

#fish-table img {
    width: 100px;
}

.hidden {
    display: none;
}

.controls {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.village-bg {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fanimalcrossingworld.com%2Fwp-content%2Fuploads%2F2020%2F05%2Fanimal-crossing-new-horizons-official-wallpapers-nintendo-may-2020-desktop-1.jpg&f=1&nofb=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 800px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.villager-container {
    width: 200px;
    text-align: center;
}

.villager-container img {
    width: 100%;
    height: 200px;
}

.semi-transparent {
    opacity: 50%;
}

.villager-container p {
    background-color: white;
    margin: 0;
    padding: 10px 0;
}

#home-img {
    width: 100%;
}

#music-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

#music-container .music-container-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

#music-container .music-container-item img {
    width: 100%;
    margin-bottom: 10px;
}

#music-container audio {
    margin: auto;
}

#music-search {
    max-width: 500px;
    width: 80%;
    height: 30px;
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
}
